.RowSecond .cityIcon {
  margin-right: 20px;
  float: left;
  height: 45px;
  width: 45px;
}
.RowSecond .cityName {
  color: purple;
  font-weight: bold;
  font-size: 3rem;
}
.RowSecond .temp-city {
  font-weight: 600;
  font-size: 3rem;
  text-align: right;
}
.RowSecond .degree {
  font-size: 1.3rem;
  position: relative;
  right: 25px;
  top: 15px;
}
.RowSecond .celsiusLink {
  text-decoration: none;
  color: black;
}
.RowSecond .active {
  color: black;
  cursor: default;
}
.row {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 0;
}
.conditions {
  color: purple;
  font-weight: 500;
  text-align: left;
  list-style: none;
}
