.cityIcon {
  float: left;
  font-size: 3rem;
}
.cityName {
  color: purple;
  font-weight: bold;
  font-size: 3rem;
}

.active {
  color: black;
  cursor: default;
}
.row {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 0;
}
.conditions {
  color: purple;
  font-weight: 500;
  text-align: left;
  list-style: none;
}
.lastUpdated {
  font-size: 1rem;
  font-weight: bold;
  list-style: none;
  text-transform: capitalize;
}
